<div class="col-md-10">
<ul class="content-box">
  <li class="pt10 pb10">
    <div class="row email">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-1">
        <span class="from">From</span>
      </div>
      <div class="col-lg-1">
        <span class="from">To</span>
      </div>
      <div class="col-lg-7">
        <span class="description pl10">Subject</span>
      </div>
      <div class="col-lg-2">
        <span class="date">Date</span>
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </li>
  <li ng-click="content.showEmail(email)" class="pt10 pb10 email-main-content" ng-repeat="email in content.emails">
    <div class="row email">
      <div class="col-lg-1">
        <input class="check" type="checkbox" aria-label="...">
      </div>
      <div class="col-lg-1">
        <span class="from">{{email.from}}</span>
      </div>
      <div class="col-lg-1">
        <span class="from">{{email.to}}</span>
      </div>
      <div class="col-lg-7">
        <span class="description pl10">{{email.subject}}</span>
      </div>
      <div class="col-lg-2">
        <span class="date">{{email.date}}</span>
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </li>
  <div ng-if="!content.emails">
    <h1>No Emails To Show</h1>
  </div>
</ul>
</div>
