<div class="content-box personal-email">
  <div class="row">
    <div class="col-lg-1">
      <button ng-click="personal.return()" type="button" class="btn btn-default" name="button"><span class="glyphicon glyphicon-chevron-left"></span></button>
    </div>
    <div class="col-lg-3">
      <span class="from">From: {{personal.email.from}}</span>
    </div>
    <div class="col-lg-3">
      <span class="from">To: {{personal.email.to}}</span>
    </div>
    <div class="col-lg-3">
      <span class="from">Subject: {{personal.email.subject}}</span>
    </div>
    <div class="col-lg-2">
      <span class="date">Date: {{personal.email.date}}</span>
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
  <div class="email-content">
    <span>{{personal.email.body}}</span>
  </div>
  <div>
    <button ng-click="personal.move()" type="button" class="btn btn-default" name="button">Move email</button>
    <button ng-click="personal.deleteEmail()" type="button" class="btn btn-default" name="button">Delete email</button>
  </div>
  <div ng-if="personal.showMove">
      <p class="mb10 mt10">Please select the folder where you want to move the email</p>
      <select class="form-control mb10" ng-model="personal.selectedFolder" ng-options="folders.id as folders.folderName for folders in personal.folders">
      </select> 
      <button ng-click="personal.moveToAnotherFolder()" type="button" class="btn btn-default" name="button">Move!</button>
  </div>
</div>
