<div class="content-box personal-email">
  <div class="row">
    <div class="col-lg-1">
      <button ng-click="personal.return()" type="button" class="btn btn-default" name="button"><span class="glyphicon glyphicon-chevron-left"></span></button>
    </div>
    <div class="col-lg-2">
      <span class="from">From: {{personal.email.from}}</span>
    </div>
    <div class="col-lg-2">
      <span class="from">To: {{personal.email.to}}</span>
    </div>
    <div class="col-lg-5">
      <span class="from">Subject: {{personal.email.subject}}</span>
    </div>
    <div class="col-lg-2">
      <span class="date">Date: {{personal.email.date}}</span>
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
  <div class="email-content">
    <span>{{personal.email.body}}</span>
  </div>
</div>
