<div class="content-box personal-email">
  <div class="row">
    <div class="col-lg-1">
      <button ng-click="personal.return()" type="button" class="btn btn-default" name="button"><span class="glyphicon glyphicon-chevron-left"></span></button>
    </div>
    <div class="col-lg-1">
      <span class="from">{{personal.email.from}}</span>
    </div>
    <div class="col-lg-8">
    </div>
    <div class="col-lg-2">
      <span class="date">{{personal.email.date}}</span>
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
  <div class="email-content">
    <span>{{personal.email.content}}</span>
  </div>
</div>
