<div id="personal-info">
    <div class="col-md-6 col-md-offset-3 form-box text-center">
        <div class="page-header">
            <h4>Send Email</h4>
        </div>
        <div class="page-content">
            <form name="sendMessageForm">
                <div class="form-group">
                    <label class="mb5">To</label>
                    <ui-select class="form-control mb10 send-email-input" multiple ng-model="sendMessage.email.destinatarios_email" theme="bootstrap" close-on-select="false" title="Choose some emails">
                        <ui-select-match placeholder="Select emails...">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="users in sendMessage.users | filter:$select.search">
                        {{users}}
                        </ui-select-choices>
                    </ui-select>
                </div>  

                <div class="form-group" ng-class="{ 'has-error': sendMessageForm.subject.$touched && sendMessageForm.subject.$invalid }">
                    <label for="subject">Subject</label>
                    <input type="text" placeholder="Enter subject" class="form-control" name="subject" ng-model="sendMessage.email.msgSubject" required >
                    <div class="help-block text-left" ng-messages="sendMessageForm.subject.$error" ng-if="sendMessageForm.subject.$touched">
                        <div ng-messages-include="scripts/email/views/login-messages.html"></div>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error': sendMessageForm.message.$touched && sendMessageForm.message.$invalid }">
                    <label for="message">Message</label>
                    <textarea type="textArea" placeholder="Enter Message" class="mt10 form-control" name="message" ng-model="sendMessage.email.msgBody" required ></textarea>
                    <div class="help-block text-left" ng-messages="sendMessageForm.message.$error" ng-if="sendMessageForm.message.$touched">
                        <div ng-messages-include="scripts/email/views/login-messages.html"></div>
                    </div>
                </div>

                 <div class="form-group">
                     <label for="attachment">Attachment</label>
                     <lf-ng-md-file-input class="file-input" lf-files="sendMessage.attachment" lf-api="api01" ng-disabled="disabled01"></lf-ng-md-file-input>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <button ng-disabled="sendMessageForm.$invalid || !sendMessage.email.destinatarios_email" type="submit" ng-click="sendMessage.send()">Send</button>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 forgot-pass text-right">
                            <button href ng-click="sendMessage.goTo()">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
