<div class="sidebar col-md-2">
<ul class="content-box">
  <li><a class="option pl10 mt5 pt5 pb5 mb5 pt5 pb5" href="#/sendMessage">Send New Message</a></li>
  <li><a class="option pl10 mt5 pt5 pb5 mb5 pt5 pb5" href="#">Inbox</a></li>
  <li><a class="option pl10 mt5 pt5 pb5 mb5 pt5 pb5" href="#">Starred</a></li>
  <li><a class="option pl10 mt5 pt5 pb5 mb5 pt5 pb5" href="#">Important</a></li>
  <li><a class="option pl10 mt5 pt5 pb5 mb5 pt5 pb5" href="#">Sent Email</a></li>
  <li><a class="option pl10 mt5 pt5 pb5 mb5 pt5 pb5" href="#">Drafts</a></li>
  <li><a class="option pl10 mt5 pt5 pb5 mb5 pt5 pb5" href="#">Spam</a></li>
  <li ng-repeat="folder in sidebar.folders">
    <div class="option custom-folder pl10 mt5 pt5 pb5 mb5 pt5 pb5">
      <a href="#">{{folder.name}}</a>
      <a ng-click="sidebar.removeFolder(folder.name)" href="" class="delete glyphicon glyphicon-minus pull-right"></a>
    </div>
  </li>
  <li><a ng-click="sidebar.showAddInput()" class="option pl10 mt5 pt5 pb5 mb5 pt5 pb5" href="">+</a></li>
  <li><input ng-if="sidebar.showFolder == true" ng-model="sidebar.newFolderName" class="new-folder-input option pl10 mt5 pt5 pb5 mb5 pt5 pb5"></li>
  <li>
    <div class="row no-margin" ng-if="sidebar.showFolder == true">
      <button ng-click="sidebar.addFolder()" class="btn btn-default pl10 mt5 pt5 pb5 mb5 pt5 pb5 col-md-5 col-xs-12">Add</button>
      <div class="col-md-1"></div>
      <button ng-click="sidebar.cancel()" class="btn btn-default pl10 mt5 pt5 pb5 mb5 pt5 pb5 col-md-5 col-xs-12">Cancel</button>
    </div>
    <div ng-if="sidebar.nameError && sidebar.showFolder == true" class="error">
      Type a name please
    </div>
    <div ng-if="sidebar.alreadyError && sidebar.showFolder == true" class="error">
      Theres already a folder with the same name !
    </div>
  </li>
</ul>
</div>
