$coffe-color : #7c553c;
$coffe-light-color : #bd835d;
$light-grey: #ddd;
$darker-grey: #a5a3a3;
$white : #fff;
$black : #000;
$brand-danger: #a94442;
$little-gray: #777;
$gray: #adadad;
$light-blue : #5db8cc;
$dark-blue : #33646f;
$dark-gray : #555;
$black_12_5: rgba(0,0,0,0.125);
$color_hippie_blue_approx: #4893a4;
$color_steel_blue_approx: #307bbb;
$color_darklike_blue_aprox: #c1cfde;
$color_celeste_approx: #cccccc;
$color_wild_sand_approx: #f5f5f5;
$color_tapa_approx: #777777;
$color_cyan_aqua_approx: #05e9ff;
$color_mountain_mist_approx: #999999;
$color_electric_lime_approx: #c6ff00;
$lighter-green: #5db65d;
$light-green: #5cb85c;
$color_apple_approx: #4db53c;
$color_lima_approx: #5fd400;
$color_golden_grass_approx: #dd9d22;
$color_jaffa_approx: #e08833;
$color_charade_approx: #2c2f3b;
$color_mirage_approx: #1d1f27;
$color_iceberg_approx: #dceef3;
$color_mercury_approx: #e6e6e6;
$color_silver_chalice_approx: #adadad;
$black_7: #000000;
$color_oslo_gray_approx: #8e8e93;
$color_bismark_approx: #407887;
$color_alabaster_approx: #f9f9f9;
$color_alto_approx: #ddd;
$color_nobel_approx: #b5b5b5;
$color_mine_shaft_approx: #333;
$color_quill_gray_approx: #d4d4d4;
$color_stack_approx: #8c8c8c;
$color_gallery_approx: #eee;
$color_apple_blossom_approx: #a94442;
$color_finch_approx: #5c6940;
$color_chelsea_cucumber_approx: #8a9e61;
$color_shilo_approx: #e5b4b3;
$color_my_pink_approx: #d88f8d;

$white: #ffffff;
$wedgewood: #49779f;
$hippie_blue:#4B93A3;
$polo_blue: #A7C1DD;
$ny_pink: #D9706F;
$swamp_green: #B1BD97;
$thunder: #333;
$regent_st_blue: #DBEDF3;
$alto: #DFDFDF;
$chestnut: #BB4544;
$wild_sand: #F5F5F5;
$lavender_purple: #937EAD;
